<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{welcomeMessage}}</h1>
    <p>Hoy es {{day}}</p>

    <h2>Lista de estudiantes</h2>
    <ul>
        {{#each students}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>